.carouselWrapper {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carouselContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 0.5rem;
}

.heroTitle {
    font-size: 4rem;
    font-weight: 900;
}

.heroHighlight {
    color: #f03e3e;
}

.heroButton {
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.section {
    padding: 4rem 0;
}

.sectionTitle {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.tableCtaRow {
    background-color: #fff5f5;
}

.timelineItemTitle {
    font-weight: bold;
}

.finalCtaSection {
    background-color: #f1f3f5;
    padding: 4rem 2rem;
    text-align: center;
}

.phoneHighlight {
    font-size: 2.5rem;
    font-weight: 900;
    color: #f03e3e;
    margin: 2rem 0;
    display: block;
}

.zaloButton {
    background-color: #1877f2;
}

.facebookButton {
    background-color: #1877f2;
}

.floatingActionGroup {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.floatingButton {
    border-radius: 50%;
}

.phoneButton {
    background-color: #f03e3e;
}
