.wrapper {
  position: relative;
  padding-top: rem(120px);
  padding-bottom: rem(80px);

  @media (max-width: 755px) {
    padding-top: rem(80px);
    padding-bottom: rem(60px);
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: rem(44px);
  letter-spacing: -1px;
  color: var(--mantine-color-white);
  margin-bottom: var(--mantine-spacing-xs);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);

  @media (max-width: 520px) {
    font-size: rem(28px);
    text-align: left;
  }
}

.highlight {
  color: #ff4d4d; /* Red color */
  text-shadow: 0 0 10px #ff4d4d, 0 0 20px #ff4d4d, 0 0 40px #ff4d4d;
}

.description {
  text-align: center;

  @media (max-width: 520px) {
    text-align: left;
    font-size: var(--mantine-font-size-md);
  }
}