/* app/thi-cong-thach-cao/services.module.css */
.carouselWrapper {
  position: relative;
  height: 800px;
}
.carousel {
  height: 100%; 
}

.carouselOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  pointer-events: none;
}

.carouselContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--mantine-color-white);
  pointer-events: none;
}

.heroTitle {
  font-size: rem(48px);
  font-weight: 900;
  line-height: 1.1;

  @media (max-width: 755px) {
    font-size: rem(34px);
  }
}

.heroHighlight {
  color: #ff4d4d;
  text-shadow: 0 0 10px #ff4d4d;
}

.heroButton {
  background-color: #ff4d4d;
  box-shadow: 0 0 10px #ff4d4d;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-xl);
  height: auto;
  font-size: var(--mantine-font-size-lg);
  margin-top: var(--mantine-spacing-xl);
  pointer-events: auto;
  &:hover {
    background-color: #e60000;
    box-shadow: 0 0 20px #ff4d4d;
  }
}

.section {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}

.sectionTitle {
  font-weight: 900;
  font-size: rem(34px);
  margin-bottom: var(--mantine-spacing-xl);
  text-align: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background-color: #ff4d4d;
  }
}

.tableCtaRow {
    background-color: rgba(255, 77, 77, 0.1);
    font-weight: 500;
}

.timelineItemTitle {
    font-weight: bold;
    font-size: var(--mantine-font-size-lg);
}

.floatingCallButton {
    position: fixed;
    bottom: rem(20px);
    right: rem(20px);
    z-index: 1000;
    background-color: #ff4d4d;
    width: rem(60px);
    height: rem(60px);
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.4);
    
    &:hover {
        background-color: #e60000;
    }

    @media (min-width: 768px) {
        display: none;
    }
}