/* src/components/product/product.module.css */

.productName {
  /* Giới hạn tên sản phẩm 2 dòng */
  line-height: 1.4;
  height: calc(1.4 * 2 * var(--mantine-font-size-md)); /* line-height * 2 lines * font-size */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card {
  transition: all 0.2s ease;
  position: relative; /* Để chứa badge */
  height: 100%; /* Giúp các card trong grid cao bằng nhau */

  &:hover {
    box-shadow: var(--mantine-shadow-md);
    transform: translateY(-2px);
  }
}

.discountBadge {
    position: absolute;
    top: var(--mantine-spacing-sm);
    left: var(--mantine-spacing-sm);
    z-index: 1;
}