.wrapper {
  background: radial-gradient(circle, rgba(255, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 70%);
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-lg);
  
  @media (max-width: 755px) {
    padding: var(--mantine-spacing-md);
  }
}

.form {
  background-color: var(--mantine-color-body);
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  color: var(--mantine-color-white);
  line-height: 1;
}

.contactTitle {
  color: var(--mantine-color-white);
}

.description {
  color: var(--mantine-color-dark-1);
  max-width: rem(500px);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(40px);
  height: rem(40px);
  border-radius: var(--mantine-radius-md);
  background-color: rgba(255, 0, 0, 0.2);
  color: #ff4d4d;
}

.control {
  background-color: #ff4d4d;
  box-shadow: 0 0 10px #ff4d4d;
  transition: box-shadow 0.2s;

  &:hover {
    background-color: #e60000;
    box-shadow: 0 0 20px #ff4d4d;
  }
}